/* Navbar 메뉴 공통 Font */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap");

.Menu-Font {
  font-family: "Nanum Gothic", sans-serif;
}

/* LeftMenu Logo 전용 Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");

/* Logo 글자 폰트 설정 */
.Logo-Font {
  font-family: "Roboto", sans-serif;
}
